<section class="sidebar">
    <div class="sidebar__column">
        <div class="sidebar-logo">
            <img src="/assets/icons/SideLogo.svg" alt="logo">
        </div>
        <nav class="sidebar__navigation">
            <div class="navigation__home nav-element">
                <img src="/assets/icons/Home.svg" alt="home">
                Моя страница
            </div>
            <div class="navigation__chats nav-element">
                <div class="chats__content">
                    <img src="/assets/icons/Chats.svg" alt="chats">
                    Чаты
                </div>
                <p class="chats-count">
                    26
                </p>
            </div>
            <div class="navigation__search nav-element">
                <img src="/assets/icons/Search.svg" alt="search">
                Поиск
            </div>
        </nav>
        <div class="sidebar__followers">
            <p>Подписчики</p>
            <div class="followers__list">
                <div class="followers__person">
                    <img src="" alt="logo">
                    <p class="person-name">Сара Коннор</p>
                </div>
                <div class="followers__person">
                    <img src="" alt="logo">
                    <p class="person-name">Кристанна Локен</p>
                </div>
                <div class="followers__person">
                    <img src="" alt="logo">
                    <p class="person-name">Майкл Уинслоу</p>
                </div>
            </div>
            <p class="followers-all">
                Все Подписчики
                <img src="" alt="all">
            </p>
        </div>
    </div>
    <div class="sidebar__profile">
        <div class="profile__row">
            <div class="profile-avatar">
                <img src="" alt="ava">
            </div>
            <p class="avatar-name">

            </p>
            <button class="avatar-settings">
                <img src="" alt="settings">
            </button>
        </div>
    </div>
</section>
